* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.picture {
  background-color: #03045e;
  width: 500px;

  height: 300px;

  margin: 0 auto;

  border: 20px solid #ddb892;
  border-radius: 1%;

  overflow: hidden;
}

/* STAR */

.star {
  width: 20px;
  height: 20px;

  background-color: #fdffb6;

  display: grid;
  grid-template-columns: 1fr 1fr;

  animation: blink 5s ease-in infinite;
}

.star-part {
  background: linear-gradient(45deg, #fdffb6, #03045e 40%);
  background-position: 0% 10%;
  border-radius: 0% 0% 0% 50%;
  opacity: 1;
}

.star-1 {
  transform: rotate(-90deg);
}

.star-3 {
  transform: rotate(-180deg);
}

.star-4 {
  transform: rotate(-270deg);
}

@keyframes blink {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(0.5);
  }
}
